################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZEFPlusTest/bin/Debug/net5.0
/ZEFPlusTest/obj
